/* Biến chung */
:root {
  --primary-color: #e62e90;
  --color-primary: #ffa500;
  --color-secondary: #fa8c16;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-layout {
  max-width: 1280px; 
  margin: 0 auto; 
  padding: 0 20px;
  position: relative;
}
.main-layout .back-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.test-number-3{
  position: absolute;
  z-index: 9999;
  left: 24px;
}
.stat-number {
  color: var(--primary-color);
  font-weight: bold;
  margin: 0;
  font-size: 1.2em;
}
.App {
  text-align: center;
}

/* Header */
.header {
  margin-bottom: 20px;
  position: relative; 
}

.header h1 {
  color: var(--primary-color);
  font-size: 2.5em;
  font-weight: bold;
}

/* Lưới chính */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Mặc định 3 cột */
  gap: 20px;
  align-items: center;
}

.stats,
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-item,
.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.stat-icon,
.feature-icon {
  font-size: 2em;
  margin-right: 10px;
  color: var(--primary-color);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
 
}

.mobile-mockup img {
  width: 100%;
  max-width: 340px;
  border-radius: 20px;
}
.btn-translation {
  position: absolute;
  right: 10px; /* Lề phải chung */
  padding: 8px 12px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-translation:first-child {
  right: 90px; 
}


.btn-translation:hover {
  background-color: #0056b3;
}
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr; /* Chỉ 2 cột */
    gap: 10px;
  }

  .header h1 {
    font-size: 2.2em; /* Giảm kích thước tiêu đề */
  }

  .stat-icon,
  .feature-icon {
    font-size: 1.8em; /* Giảm kích thước biểu tượng */
  }

  .stats,
  .features {
    padding: 10px 0;
  }
}

/* 768px - Máy tính bảng nhỏ */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .header h1 {
    font-size: 1.8em; 
  }

  .stat-icon,
  .feature-icon {
    font-size: 1.6em; 
  }

  .mobile-mockup img {
    max-width: 250px;
  }
  .btn-translation:first-child,
  .btn-translation:last-child {
    right: 50px;
  
  }
}

/* 480px - Điện thoại di động */
@media (max-width: 480px) {
  .header h1 {
    font-size: 1.5em; /* Giảm tiêu đề trên màn hình rất nhỏ */
    margin-top: 50px;
  }

  .stat-item,
  .feature-item {
    flex-direction: column; /* Xếp dọc */
    text-align: center;
  }

  .stat-icon,
  .feature-icon {
    font-size: 1.5em; /* Giảm biểu tượng */
  }

  .grid-container {
    gap: 10px;
  }
  .btn-translation:first-child,
  .btn-translation:last-child {
    right: 50px;
    font-size: 14px;
  }

}
